In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import TimeseriesGenerator
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import tensorflow as tf

mpl.rcParams['figure.figsize'] = (10, 8)
mpl.rcParams['axes.grid'] = False

In [2]:
df = pd.read_csv('../../Data/GOOG.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-08-22,244.832306,246.515991,243.826080,244.379013,244.379013,4611621
1,2008-08-25,242.147369,247.572037,239.850983,240.603165,240.603165,4043700
2,2008-08-26,240.827316,240.827316,234.416351,236.194687,236.194687,6641200
3,2008-08-27,235.980484,236.528427,231.552094,233.415100,233.415100,8807088
4,2008-08-28,235.362808,237.335403,234.286835,236.005402,236.005402,6082112
...,...,...,...,...,...,...,...
2993,2020-07-15,1523.130005,1535.329956,1498.000000,1513.640015,1513.640015,1610700
2994,2020-07-16,1500.000000,1518.689941,1486.310059,1518.000000,1518.000000,1519300
2995,2020-07-17,1521.619995,1523.439941,1498.420044,1515.550049,1515.550049,1456700
2996,2020-07-20,1515.260010,1570.290039,1503.599976,1565.719971,1565.719971,1557300
2997,2020-07-21,1586.989990,1586.989990,1554.280029,1558.420044,1558.420044,1216200

In [3]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
df.set_index('Date', inplace=True)

In [5]:
scaller = MinMaxScaler()
data_scaled = scaller.fit_transform(df)
pd.DataFrame(data_scaled)

             0         1         2         3         4         5
0     0.078331  0.077322  0.084298  0.080794  0.080794  0.141247
1     0.076487  0.078049  0.081520  0.078167  0.078167  0.123823
2     0.075581  0.073406  0.077723  0.075100  0.075100  0.203517
3     0.072252  0.070447  0.075721  0.073167  0.073167  0.269969
4     0.071828  0.071003  0.077632  0.074969  0.074969  0.186364
...        ...       ...       ...       ...       ...       ...
2993  0.956147  0.964441  0.960673  0.963770  0.963770  0.049175
2994  0.940263  0.952988  0.952505  0.966803  0.966803  0.046371
2995  0.955110  0.956257  0.960967  0.965099  0.965099  0.044450
2996  0.950743  0.988505  0.964586  1.000000  1.000000  0.047537
2997  1.000000  1.000000  1.000000  0.994922  0.994922  0.037071

[2998 rows x 6 columns]

In [18]:
features = data_scaled
target = data_scaled[:]

In [19]:
features.size

17988

In [20]:
target.size

17988

In [42]:
TimeseriesGenerator(features, target, length=2, sampling_rate=1, batch_size=1)[0]

(array([[[0.07833091, 0.07732195, 0.08429775, 0.08079391, 0.08079391,
          0.14124714],
         [0.07648715, 0.07804885, 0.08152008, 0.0781672 , 0.0781672 ,
          0.12382263]]]),
 array([0.07558066]))

In [21]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=123, shuffle=False)

In [23]:
x_train.size

14388